.navigation-container {
  display: flex;
  justify-content: center;
}

.navigation-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-btn {
  background-color: rgba(0, 0, 0, 0.24);
  display: block;
  padding: 8px 16px;
  margin: 4px;
  text-align: center;
  color: #0c0c0c;
  text-decoration: none;
  transition: background-color, border 250ms ease-out;
  border: 1px solid transparent;
  border-radius: 5px;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.selected {
  background-color: #007bff; /* Example color for highlighting */
  color: #fff; /* Text color for highlighted button */
}
